.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    margin: 0 auto;
    width: 500px;
}

#buttonCheck{
   margin: 5px 0;
   border: 0;
   width: 500px;
   height: 50px;
   border-radius: 10px;
   background: #23bd96;
   color: aliceblue;
   font-weight: bold;
   cursor: pointer;
}

#buttonCheck:hover{
    background: #178f71;

}

.inputText{
    width: 100%;
    height: 25px;
    border-radius: 10px;
}

[data-response]{
    margin-top: 5px;
    font-weight: bold;
}

